.msg-box {
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 20em;
  height: 10em;
  border-radius: 2em;
  background-color: pink;
  display: grid;
  align-items: center;
  text-align: center;
}
